/* Body */


/* Project tile */
.project___heading {
    text-align: center;
}

.grid___container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px;
    padding-left: 2em;
    padding-right: 2em;
    /* background-color: aqua; */
}
.first___div {
    background-color: pink;
}
.second___div {
    background-color: lightgreen;
}
.third___div {
    background-color: yellow;
}